<footer class="footer">

  <div class="container">

    <div class="row">

      <div class="col-lg-4 mb-4">

        <h3 class="footer-title">
          PAUD Tunas Mekar
        </h3>

        <p>
          Membantu anak tumbuh menjadi
          generasi yang cerdas,
          mandiri, dan berkarakter.
        </p>

      </div>

      <div class="col-lg-4 mb-4">

        <h5>Kontak</h5>

        <p id="footerAddress"></p>

        <p id="footerWhatsapp"></p>

        <p id="footerInstagram"></p>

      </div>

      <div class="col-lg-4 mb-4">

        <h5>Jam Operasional</h5>

        <p id="footerOperationalHours"></p>

      </div>

    </div>

  </div>

</footer>