<nav class="custom-navbar">

  <div class="container">

    <div class="navbar-wrapper">

      <!-- LOGO -->

      <a
        href="#"
        class="navbar-brand-custom"
      >

        <img
          src="./assets/image/Logo-Paud-Tunas-Mekar.jpg"
          alt="PAUD Tunas Mekar"
        >

        <img
          src="./assets/image/Logo Paud.jpg"
          alt="PAUD Tunas Mekar"
        >

        <span>
          PAUD Tunas Mekar
        </span>

      </a>

      <!-- MENU -->

      <ul class="navbar-menu">

        <li>
          <a href="#hero">
            Beranda
          </a>
        </li>

        <li>
          <a href="#about">
            Tentang
          </a>
        </li>

        <li>
          <a href="#program">
            Program
          </a>
        </li>

        <li>
          <a href="#teachers">
            Guru
          </a>
        </li>

        <li>
          <a href="#contact">
            Kontak
          </a>
        </li>

      </ul>

      <!-- RIGHT -->

      <div class="navbar-action">

        <a
          href="#registration"
          class="btn-register"
        >
          Daftar
        </a>

      </div>

      <!-- MOBILE TOGGLE -->

      <div class="mobile-toggle">

        <i class="fas fa-bars"></i>

      </div>

    </div>

  </div>

</nav>