<div class="sidebar">

  <div class="logo">
    PAUD TUNAS MEKAR
  </div>

  <a href="dashboard.html">
    Dashboard
  </a>

  <a href="hero-banner.html">
    Hero Banner
  </a>

  <a href="school-profile.html">
   Profile Sekolah
  </a>

  <a href="vision-mission.html">
    Visi & Misi
  </a>

  <a href="programs-services.html">
    Program & Layanan
  </a>

  <a href="curriculum.html">
    Kurikulum
  </a>

  <a href="facilities.html">
    Fasilitas
  </a>

  <a href="teachers.html">
    Staff Pengajar
  </a>

  <a href="news.html">
    Berita
  </a>

  <a href="school-calendars.html">
    Kalender Sekolah
  </a>

  <a href="testimonials.html">
    Testimoni
  </a>

  <a href="registrations.html">
    Pendaftaran
  </a>

  <a href="#" onclick="logout()">
    Logout
  </a>

</div>